<div class="content">
  <ion-label class="title">Selecione, se houver, pontos de infiltração na parte superior da cabine.</ion-label>
  <div class="test">
    <div class="image-container">
      <img src="../../../assets/img/frontside-test.webp" alt="" style="width: 100%;">
      <ion-button [class.selected]="selected1" class="rounded" style="top: 10%; left: 44%;"
        (click)="select(0)">1</ion-button>
      <ion-button [class.selected]="selected2" class="rounded" style="top: 13%; left: 22%;"
        (click)="select(1)">2</ion-button>
      <ion-button [class.selected]="selected3" class="rounded" style="top: 13%; left: 65%;"
        (click)="select(2)">3</ion-button>
      <ion-button [class.selected]="selected4" class="rounded" style="top: 17%; left: 13%;"
        (click)="select(3)">4</ion-button>
      <ion-button [class.selected]="selected5" class="rounded" style="top: 17%; left: 74%;"
        (click)="select(4)">5</ion-button>
    </div>
  </div>
  <ion-button id="finish-upside-test-button" (click)="confirm()">Confirmar</ion-button>
</div>
