<div class="ion-padding">
  <div class="options">
    <div class = "option" [routerLink]="['/', 'main', 'server-config']">
      <ion-button size="large">
        <ion-icon slot="icon-only" ios="server-outline" md="server-sharp"></ion-icon>
      </ion-button>
    </div>
    <ion-label>Servidor</ion-label>
  </div>

  <div class="options">
    <div class = "option" [routerLink]="['/', 'main', 'preferences']">
      <ion-button size="large">
        <ion-icon slot="icon-only" ios="color-palette-outline" md="color-palette-sharp"></ion-icon>
      </ion-button>
    </div>
    <ion-label>Preferências</ion-label>
  </div>
</div>
