<ion-content class="ion-padding">
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Selecione o dispositivo onde deseja continuar a operação...</ion-card-title>
      </ion-card-header>
      <div class="square-side-buttons">
        <ion-button class="button" expand="full" (click)="selectDevice('desktop')">
          <ion-icon name="desktop"></ion-icon>
          Desktop
        </ion-button>
        <ion-button class="button" expand="full" (click)="selectDevice('mobile')">
          <ion-icon name="phone-portrait"></ion-icon>
          Palm
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
