.card-icon {
  margin: 15px 15px 0 15px;
  font-size: 48px;
  animation: pulse-animation 2s infinite linear;
}

.camera-icon {
  font-size: 24px;
}

.camera-button {
  display: flex;
  max-width: 100px;
  margin: 18px;

  @media (min-width: 720px) {
    display: none;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
