@if(!isApiServiceInitialized || !isBackgroundServiceRunning) {
  <app-services-initialization></app-services-initialization>
} @else {
  @if(isUserAuthenticated) {
    <ion-app>
      @if(isMobile && showMobileContent) {
        <!-- Menu mobile content -->
        <ion-content class="ion-padding-top">
          <ion-img class="logo" [src]="logo" alt="Conecsa logo" style="margin-top: 20px;"/>
          <ion-list-header>Sistema de controle</ion-list-header>
          <ion-note>Prova Hídrica</ion-note>

          <ion-grid style="margin-top: 20px;">
            <ion-row class="ion-justify-content-center">
              @for (p of appPages; track p; let i = $index) {
                <ion-col size="6">
                  <ion-button expand="full" (click)="p.action()">
                    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    {{ p.title }}
                  </ion-button>
                </ion-col>
              }
            </ion-row>
          </ion-grid>
          <ion-img class="logo iveco" src="assets/img/iveco-logo.webp"/>
        </ion-content>
      } @else if (isMobile && !showMobileContent) {
        <!-- Content view with back button -->
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="backToMobileMenu()">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Sistema de controle</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-router-outlet id="mobile-content"></ion-router-outlet>
      } @else {
        <!-- Desktop view with side menu -->
        <ion-split-pane contentId="main-content">
          <ion-menu contentId="main-content" type="overlay">
            <ion-content>
              <ion-list id="inbox-list">
                <ion-img class="logo" [src]="logo" alt="Conecsa logo"></ion-img>
                <ion-list-header>Sistema de controle</ion-list-header>
                <ion-note>Prova Hídrica</ion-note>

                @for (p of appPages; track p; let i = $index) {
                  <ion-menu-toggle auto-hide="false">
                    <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                      routerLinkActive="selected" (click)="p.action()">
                      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                      <ion-label>{{ p.title }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                }
              </ion-list>

              <ion-list id="labels-list">
                <ion-list-header>Últimos registros</ion-list-header>

                @for (operation of lastOperations(); track operation) {
                  <ion-item class="link" lines="none" (click)="openOperation(operation.id)">
                    <ion-icon slot="start" ios="caret-forward-circle-outline" md="caret-forward-circle-outline"></ion-icon>
                    <ion-label>{{ operation.key + ' - ' + operation.dateTime }}</ion-label>
                  </ion-item>
                }
              </ion-list>
            </ion-content>
          </ion-menu>
          <ion-router-outlet id="main-content"></ion-router-outlet>
        </ion-split-pane>
      }
    </ion-app>
  } @else {
    @if (! isUserAuthenticated && context() === 'login') {
      <app-rfid [context]="'authenticate'"></app-rfid>
    } @else {
      <app-unauthenticated-user [logo]="logo" [context]="context()"></app-unauthenticated-user>
    }
  }
}
