<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

@if (devices().length > 0) {
<ion-list class="devices-list">
  <!-- Dispositivos -->
  @for(device of devices(); track device.deviceId;) {
  <ion-item>
    <ion-icon *ngIf="device.platform === 'mobile'" slot="start" [ios]="phonePortraitOutline" [md]="phonePortraitSharp"></ion-icon>
    <ion-icon *ngIf="device.platform === 'desktop'" slot="start" [ios]="desktopOutline" [md]="desktopSharp"></ion-icon>
    <ion-label>{{ device.deviceId }}</ion-label>
    <div class="dynamic-icon icon-overlay">
      <ion-icon *ngIf="device.batteryStatus === 'full'" slot="end" class="battery-icon" [ios]="batteryFullOutline" [md]="batteryFullSharp"></ion-icon>
      <ion-icon *ngIf="device.batteryStatus === 'half'" slot="end" class="battery-icon half" [ios]="batteryHalfOutline" [md]="batteryHalfSharp"></ion-icon>
      <ion-icon *ngIf="device.batteryStatus === 'dead'" slot="end" class="battery-icon dead" [ios]="batteryDeadOutline" [md]="batteryDeadSharp"></ion-icon>
      <ion-icon *ngIf="device.isCharging" slot="end" class="flash-icon" [ios]="flashlightOutline" [md]="flashlightSharp"></ion-icon>
    </div>
    <div class="dynamic-icon icon-overlay">
      <ion-icon slot="end" class="wifi-icon" [ios]="wifiOutline" [md]="wifiSharp"></ion-icon>
      <ion-icon *ngIf="device.networkStatus === 'error'" slot="end" class="alert-icon" [ios]="alertOutline" [md]="alertSharp"></ion-icon>
      <ion-icon *ngIf="device.networkStatus === 'offline'" slot="end" class="dead cross" [ios]="addOutline" [md]="addSharp"></ion-icon>
    </div>
  </ion-item>
  }
</ion-list>
} @else {
<ion-card>
  <ion-card-header>
    <ion-card-title>Não foi possível obter o status dos dispositivos.</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Nenhum dispositivo foi identificado.</p>
  </ion-card-content>
</ion-card>
}
