<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ userId ? 'Editar Usuário' : 'Criar Usuário' }}</ion-title>
    @if(userId) {
    <ion-buttons slot="end">
      <ion-button id="delete-button">
        <ion-icon [ios]="trashOutline" [md]="trashSharp"></ion-icon>
        <ion-alert trigger="delete-button" header="Atenção!" subHeader="Deseja excluir este usuário?"
          message="Esta ação não poderá ser desfeita." [buttons]="alertButtons"></ion-alert>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(! IsAwaitingRFID) {
  <form (ngSubmit)="saveUser()">
    <ion-item>
      <ion-label position="floating">Matrícula</ion-label>
      <ion-input [(ngModel)]="user.badge_number" name="badge_number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="user.user_name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Permissões</ion-label>
      <ion-select [(ngModel)]="user.permissions" name="permissions" multiple="true">
        <ion-select-option value="create_users">Cadastrar usuários</ion-select-option>
        <ion-select-option value="view_users">Visualizar usuários cadastrados</ion-select-option>
        <ion-select-option value="edit_users">Editar usuários</ion-select-option>
        <ion-select-option value="operate">Operar automático</ion-select-option>
        <ion-select-option value="set_manual">Operar manual</ion-select-option>
        <ion-select-option value="view_history">Visualizar histórico de operações</ion-select-option>
        <ion-select-option value="view_logs">Visualizar logs</ion-select-option>
        <ion-select-option value="export_reports">Exportar Relatórios</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button id="submit" expand="full" type="submit">{{ userId ? 'Atualizar' : 'Criar' }} Usuário</ion-button>
    <ion-alert trigger="submit" [header]="alertHeader!" [subHeader]="alertSubHeader"
    [message]="alertMessage" [buttons]="[{ text: 'OK', role: 'confirm' }]"></ion-alert>
  </form>
  } @else {
  <app-rfid [context]="context"></app-rfid>
  }
</ion-content>
