<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ deviceId ? 'Editar dispositivo' : 'Cadastrar dispositivo' }}</ion-title>
    @if(deviceId) {
    <ion-buttons slot="end">
      <ion-button id="delete-button">
        <ion-icon [ios]="trashOutline" [md]="trashSharp"></ion-icon>
        <ion-alert trigger="delete-button" header="Atenção!" subHeader="Deseja excluir este dispositivo?"
          message="Esta ação não poderá ser desfeita." [buttons]="alertButtons"></ion-alert>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="saveDevice()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="device.deviceName" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Selecione o tipo de dispositivo" [(ngModel)]="device.type"
        name="type" required>
        <div slot="label">Tipo de dispositivo</div>
        <ion-select-option value="desktop">Desktop</ion-select-option>
        <ion-select-option value="mobile">Mobile</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button id="submit" expand="full" type="submit">{{ deviceId ? 'Atualizar' : 'Cadastrar' }} dispositivo</ion-button>
  </form>
</ion-content>
