<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="search()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-toast [isOpen]="hasError" message="Erro ao buscar registros" [duration]="5000"></ion-toast>

<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

@if (displayedOperations.length > 0) {
  <div class="content-header">
    <ion-label>VP</ion-label>
    <ion-label>VAN</ion-label>
    <ion-label>Data e hora</ion-label>
  </div>

  <ion-list class="operation-list">
    @for (operation of displayedOperations; track operation.OperationId; let index = $index) {
      <ion-item [routerLink]="['/', 'main', 'view-operation', operation.OperationId]">
        <ion-icon slot="start" [ios]="documentTextOutline" [md]="documentTextSharp"></ion-icon>
        <ion-label>{{ operation.Vp }}</ion-label>
        <ion-label>{{ operation.Van }}</ion-label>
        <ion-label>{{ operation.StartTime }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <div class="pagination-controls">
    <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</ion-button>
    <ion-label>Página {{ currentPage }} de {{ totalPages }}</ion-label>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Próximo</ion-button>
  </div>
} @else {
  <ion-list class="operation-list">
    <ion-item>
      <ion-label class="ion-text-center">Nenhum registro encontrado</ion-label>
    </ion-item>
  </ion-list>
}
