<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (page === 'run') {
    <app-run></app-run>
  } @else if(page === 'users') {
    <app-user></app-user>
  } @else if (page === 'add-new-user' || page === 'edit-user') {
    <app-edit-user></app-edit-user>
  } @else if (page === 'devices') {
    <app-devices></app-devices>
  } @else if (page === 'settings') {
    <app-settings></app-settings>
  } @else if (page === 'server-config') {
    <app-server></app-server>
  } @else if (page === 'preferences') {
    <app-preferences></app-preferences>
  } @else if (page === 'device') {
    <app-device-config></app-device-config>
  } @else if (page === 'barcode-scanner') {
    <app-barcode-scanner></app-barcode-scanner>
  } @else if (page === 'tests') {
    <app-tests></app-tests>
  } @else if (page === 'upside-test') {
    <app-upside-test></app-upside-test>
  } @else if (page === 'frontside-test') {
    <app-frontside-test></app-frontside-test>
  } @else if (page === 'backside-test') {
    <app-backside-test></app-backside-test>
  } @else if (page === 'leftside-test') {
    <app-leftside-test></app-leftside-test>
  } @else if (page === 'rightside-test') {
    <app-rightside-test></app-rightside-test>
  }

  @else {
  <div id="container">
    <strong class="capitalize">{{ page }}</strong>
  </div>
  }
</ion-content>
