<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (page === 'users') {
  <app-user></app-user>
  } @else if (page === 'add-new-user' || page === 'edit-user') {
    <app-edit-user></app-edit-user>
  } @else if (page === 'settings') {
    <app-settings></app-settings>
  } @else if (page === 'server-config') {
    <app-server></app-server>
  } @else if (page === 'preferences') {
    <app-preferences></app-preferences>
  }

  @else {
  <div id="container">
    <strong class="capitalize">{{ page }}</strong>
  </div>
  }
</ion-content>
