<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (page === 'run' && (authService.hasPermission('OA') || authService.hasPermission('OM'))) {
  <app-run></app-run>
  } @else if (page === 'records'&& authService.hasPermission('RO')) {
  <app-operations></app-operations>
  } @else if (page === 'test-result' && authService.hasPermission('RL')) {
  <app-test-result></app-test-result>
  } @else if(page === 'users' && authService.hasPermission('RU')) {
  <app-user></app-user>
  } @else if (page === 'add-new-user' || page === 'edit-user' && authService.hasPermission('WU')) {
  <app-edit-user></app-edit-user>
  } @else if (page === 'recipes' && authService.hasPermission('RR')) {
  <app-recipes></app-recipes>
  } @else if (page === 'add-new-recipe' || page === 'edit-recipe' && authService.hasPermission('WR')) {
  <app-edit-recipe></app-edit-recipe>
  } @else if (page === 'devices') {
  <app-devices></app-devices>
  } @else if (page === 'settings' && authService.hasPermission('MS')) {
  <app-settings></app-settings>
  } @else if (page === 'add-new-device') {
  <app-edit-device></app-edit-device>
  } @else if (page === 'server-config') {
  <app-server></app-server>
  } @else if (page === 'preferences') {
  <app-preferences></app-preferences>
  } @else if (page === 'device') {
  <app-device-config></app-device-config>
  } @else if (page === 'search') {
  <app-scanner context="search"></app-scanner>
  } @else if (page === 'tests') {
  <app-infiltration-points></app-infiltration-points>
  } @else if (page === 'upside-test') {
  <app-point-selection [testId]="'upside'"
    [testTitle]="'Selecione, se houver, pontos de infiltração na parte superior da cabine.'"
    [testPoints]="upsidePoints">
  </app-point-selection>
  } @else if (page === 'frontside-test') {
  <app-point-selection [testId]="'frontside'"
    [testTitle]="'Selecione, se houver, pontos de infiltração nos vãos do para-brisa e painel frontal.'"
    [testPoints]="frontsidePoints">
  </app-point-selection>
  } @else if (page === 'backside-test') {
  <app-point-selection [testId]="'backside'"
    [testTitle]="'Selecione, se houver, pontos de infiltração nos tampões do teto posterior.'"
    [testPoints]="backsidePoints">
  </app-point-selection>
  } @else if (page === 'leftside-test') {
  <app-point-selection [testId]="'leftside'"
    [testTitle]="'Selecione, se houver, pontos de infiltração nos vãos da lateral esquerda.'"
    [testPoints]="leftsidePoints">
  </app-point-selection>
  } @else if (page === 'rightside-test') {
  <app-point-selection [testId]="'rightside'"
    [testTitle]="'Selecione, se houver, pontos de infiltração nos vãos da lateral direita.'"
    [testPoints]="rightsidePoints">
  </app-point-selection>
  } @else {
  <div id="container">
    <strong class="capitalize">Você não tem permissão para acessar esta página.</strong>
  </div>
  }
</ion-content>
