<div class="resend-operation-command">
  <ion-label>
    Reenviar comando de início
  </ion-label>
  <ion-button color="primary" expand="block" (click)="resetOperation()">
    <ion-icon name="sync-outline"></ion-icon>
  </ion-button>
  <ion-button color="danger" expand="block" (click)="stopOperation()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
</div>

@for (t of tests(); track t; let i = $index ) {
<ion-card>
  <img [alt]="t.altImg" [src]="t.img" />
  <ion-card-header>
    <ion-card-title class="title">
      {{t.title}}
      @if(t.status === 'completed') {
        <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
      } @else if(t.status === 'pending') {
        <ion-icon name="alert-circle-outline" class="pending-icon"></ion-icon>
      }
    </ion-card-title>
    <ion-card-subtitle>{{i+1 + '/' + tests().length}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{t.content}}
  </ion-card-content>

  <div class="buttons">
    <ion-button id="next" [routerLink]="[t.url]">
      {{t.status === 'pending' ? 'Pendente': (t.status === 'completed' ? 'Concluído' : t.status) }}
    </ion-button>
  </div>
</ion-card>
}
