.resend-operation-command {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

ion-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 40px;
}

img {
  max-width: 200px;
}

#next {
  display: flex;
  width: 100%;
  margin-left: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: center;
  & .success-icon {
    margin-left: 10px;
    font-size: 24px;
    color: green;
  }
  & .pending-icon {
    margin-left: 10px;
    font-size: 24px;
    color: orange;
  }
}
